@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    font-size: "Poppins", sans-serif;
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input,button{
    font-family: "Poppins";
}
.search {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #eee;
}
.form-main {
    background-color: #fff;
    width: 100%;
    display: flex;
    padding:0.6rem 1rem;
    border-radius: 6px;
}
.form-input{
    outline: none;
    border:none;
    font-size: 1.6rem;
    flex-grow:1;
}
::placeholder{
    font-size:1.6rem;
}
.form-btn{
    border: none;
    outline: none;
    background-color: rgb(43, 152, 255);
    color: white;
    padding: 1rem 1.5rem;
    margin-right:-.3rem;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    width: max-content;
    flex-shrink:0;
    
}