* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #8464ed,#ff1252)
}
.menu {
    position: relative;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: 2rem;
    transition: 1s;
}
.menu.active .toggle {
    transform: rotate(315deg);
}

.menu ul li {
    position: absolute;
    left: 0;
    top: 40%;
    list-style: none;
    transform-origin: 100px;
    transition: .5s;
    transition-delay: calc(.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
}
.menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
}
.menu li a {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    transform: rotate(calc(360deg / -8 * var(--i)));

}
.menu li a:hover {
    color: #ff1252;
}